.show-names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  margin: 0 auto;
  margin-top: 4rem;
  width: 50%;
  height: 15rem;
  border-radius: 10px;
  padding-top: 1rem;
}

button {
  margin-top: 1rem;
}

.display-none {
  display: none;
  color: red;
}